/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.me{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.para{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}
main section{
    margin-top: 130px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
.orange{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.btn-pre{
    border: 0;
    border-radius: 10px;
    background: #FD6E0A;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 30px;
    margin-right: 30px;
}
/* header related style */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .my-pic{
    width: 500px;
    height: 670px;
}
.banner-wlc{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 0;
    margin-bottom: 20px;
}
.banner p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-top: 0;
    margin-bottom: 30px;
}
.banner-contain{
    max-width: 600px;
}
/* main section style */
    main{
        max-width: 1140px;
        margin: 0 auto;
    }
/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 120px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color:  #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.info-discription{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}
#one{
    padding: 0 150px 30px 150px;
}
/* skill related styles */
.skills-cointainer{
    display: flex;
}
.skill{
    padding: 30px;
    gap: 25px;
    border-radius: 5px;
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 6px 50px 0px rgba(5, 143, 35, 0.475);
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
/* resume style related */
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 60px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.resume-item-info{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}
.resume-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
/* download button style */
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer related style */
footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 50px;
    padding: 0px 200px;
}
.footer-colum{
    margin-top: 70px;
    width: 50%;
}
.contract input , textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 300px;
}
.links{
    margin-right: 20px;
}